<h2><%= @tag.name %></h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tag.mapped_values.each_with_index do |mapped_value, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= mapped_value.value %></td>
        <td><%= link_to 'Delete Value', mapped_value_path(mapped_value), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
